main{
    max-width: 1440px;
    margin: 3em auto;
    padding: 0 3em;
    gap: 4em;
}

#general-info{
    display: flex;
    justify-content: space-between;
    gap: 3em;
}

#general-info > div{
    padding: 45px 40px;
    border-radius: var(--border-radius);
    
    background-image: linear-gradient(to bottom, rgba(28, 28, 28, 1), rgba(24, 24, 24, 0));
    border: 0.5px solid var(--brand-yellow);
    
}

#offer-detail{
    flex: 1;
    min-width: 500px;
    display: flex;
    gap: 30px;
    
    img{
        object-fit: cover;
        width: 250px;
        height: auto;
        border-radius: var(--border-radius-small);
    }
    
    div{
        gap: 20px;
    }
    
    h4{
        font-weight: var(--text-font-weight);
        font-size: 13px;
        color: var(--light-grey);
    }
}

#reviews-stats{
    width: auto;
    text-align: center;
    color: var(--white);

    #media{
        font-size: 40px;
        font-weight: 700;
    }
    #total{
        font-size: 12px;
        margin-bottom: 20px;
    }
}

/* Estilização da Lista */

.stars-distribution {
    list-style: none; 
    width: 100%;
    max-width: 500px; 
}

.stars-distribution li {
    display: flex;
    align-items: center; 
    gap: 20px;
}

/* Define larguras fixas para os textos para alinhar as barras */
.stars-distribution li span:first-child {
    width: 80px; /* Largura fixa para "X estrelas" */
}

.stars-distribution li span:last-child {
    width: 40px; /* Largura fixa para "XX%" */
    text-align: left;
}


/* Estilização Principal da Barra de Progresso */
.stars-distribution progress {
    /* Reseta a aparência padrão do navegador */
    appearance: none;
    -webkit-appearance: none;
    
    /* Define o tamanho e formato */
    flex: 1; /* Faz a barra ocupar o espaço restante */
    height: 14px;
    border-radius: var(--border-radius); 
    border: none; 
    overflow: hidden; /* Garante que o preenchimento fique dentro das bordas */
}

/* Cor da parte "vazia" */
.stars-distribution progress::-webkit-progress-bar {
    background-color: var(--light-grey);
    border-radius: var(--border-radius);
}

/* Cor da parte "cheia" (Value) */
.stars-distribution progress::-webkit-progress-value {
    background-color: var(--brand-yellow);
    border-radius: var(--border-radius);
}


#reviews-list{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}