<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>{% if object %}Editar{% else %}Registro de ofertas pela empresa{% endif %} Oferta</title>
</head>
<body>
  <h1>{% if object %}Editar{% else %}Registrar ofertas{% endif %}</h1>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Salvar</button>
    <a href="{% url 'offer:manage_list' %}">Cancelar</a>
  </form>
</body>
</html>

<!--Ajustar essa página-->