
.title-register > p {
    font-size: var(--h3-font-size);
    font-weight: 600;

    padding: 3em 0;

    background-image: var(--gradient-yellow-dark-orange);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.steps {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #373737;
    border-radius: var(--border-radius)
}

.steps img {
    height: 4em;
}

.step {
    gap: 1.15em;
    align-items: center;
    padding: 0.5em 0;
    flex: 1;
    padding-left: 2em;
}

.step p{
    font-size: var(--larger-text-font-size);
}

.number-wrapper {
    border: 1px solid #373737;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--white);
    font-family: var(--special-font-family);
}


.active p {
    color: var(--brand-orange-darker);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.active .number-wrapper {
    border: 1px solid var(--brand-orange-darker);
}

.active .number-wrapper p {
    color: var(--brand-orange-darker);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}


.done{
    font-weight: 700;
    background-color: var(--white);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.done .number-wrapper{
    border: 1px solid var(--brand-orange-darker);
}


/* FORMULÁRIOS */
form{
    display: flex;
    flex-direction: column;
    gap: 50px;

    margin-top: 2em;
    margin-bottom: 2em;

    .form-fields{
        background-color: var(--background-color);
        border: 2px solid #373737;
        border-radius: var(--border-radius);
        padding: 2em;
        gap: 30px;
    }

    .form-fields:not(#pfp){
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }

    p, .field-wrapper{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .field-wrapper {
        grid-column: span 12;
    }
    
    .field-wrapper.half-width {
        grid-column: span 6; 
    }
    
    .field-wrapper.third-width {
        grid-column: span 4;
    }

    label{
        font-size: var(--text-font-size);
        color: var(--light-grey);
    }

    input{
        height: 45px;
        background-color: #252525;
        border-radius: var(--border-radius-small);
        border: none;
        padding: 1em;

        color: var(--white);
        font-family: var(--main-font-family);
        font-size: var(--text-font-size);
        font-weight: 300;
    }
    
    input::placeholder{
        color: var(--white);
        font-family: var(--main-font-family);
        font-size: var(--text-font-size);
        font-weight: 300;
    }

    input:hover{
        cursor: pointers;
    }

    button{
        background-image: linear-gradient(to right, var(--brand-orange-darker), #A15D18);
        color: var(--white);
        border: none;

        border-radius: var(--border-radius-small);
        padding: 0.5em 5em;
        margin: 0 auto;

        font-family: var(--main-font-family);
        font-size: 18px;
        font-weight: 500;
        text-align: center;
    }


}