.step-1 .number-wrapper, .step-2 .number-wrapper, .step-3 .number-wrapper {
    background-color: var(--brand-orange-darker);
}

.step-1 img, .step-2 img, .step-3 img {
    width: 1em;
    height: 1em;
}

input[type="file"]{
    background-color: transparent;
    display: block;

    margin-top: 5px;
    padding: 0;
    height: fit-content;
}

input[type="file"]::file-selector-button{
    height: 50px;
    width: 200px;

    background-color: #252525;
    border: none;
    border: 1px solid var(--brand-orange-darker);
    border-radius: var(--border-radius-small);

    color: var(--white);
    font-family: var(--main-font-family);
    font-size: var(--text-font-size);
    font-weight: 300;

    display: block;
    margin-bottom: 5px;
}

input[type="file"]:hover, input[type="file"]::file-selector-button:hover{
    cursor: pointer;
}

input[type="file"]::after {
  content: attr(value); /* mostra o nome do arquivo */
  display: block;
  color: var(--white);
  margin-top: 5px;
}