.step-1 .number-wrapper, .step-2 .number-wrapper, .step-3 .number-wrapper {
    background-color: var(--brand-orange-darker);
}

.step-1 img, .step-2 img, .step-3 img {
    width: 1em;
    height: 1em;
}

/*  ===================================================== */

.step-4 p {
    color: var(--brand-orange);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.step-4 .number-wrapper {
    border: 1px solid var(--brand-orange);
}

.step-4 .number-wrapper p {
    color: var(--brand-orange);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}