.step-1 p {
    color: var(--brand-orange);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.step-1 .number-wrapper {
    border: 1px solid var(--brand-orange);
}

.step-1 .number-wrapper p {
    color: var(--brand-orange);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}