.swiper-pagination {
    z-index: auto;
}

.currency,
.promotion-price,
.offer-discount-badge,
.offer-date {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.old-price,
.offer-card-enterprise p,
.offer-title a {
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

.offer-card {
    width: 240px;
    background-color: #252525;
    display: inline-block;
    padding: 0.5em 1em;
    box-sizing: border-box;
    border-radius: var(--border-radius-small);
    min-height: 100%;
}

#offer-modal .offer-card {
    width: fit-content;
} 

.offer-card:hover {
    cursor: pointer;
    filter: brightness(1.15);
    transition: all 0.1s ease-in-out;
}

.offer-card-enterprise {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.offer-card-enterprise img {
    height: 1.8em;
    width: 1.8em;
    margin-right: 8px;
    border-radius: 50%;
}

.offer-card-enterprise p {
    color: var(--white);
    font-weight: 400;
    font-size: 0.8em;
}

.offer-image-wrapper {
    width: 100%;
    position: relative;
    margin-bottom: 6px;
}

.offer-image {
    border-radius: var(--border-radius-small);
    height: 8em;
    width: 12em;
    width: 100%;
    object-fit: cover;
}

.offer-discount-badge {
    position: absolute;
    left: -5px;
    bottom: 0;
    font-weight: 800;
    color: var(--white);
    background-color: var(--purple);
    font-size: 1.1em;
    padding: 0.5em 1em;
    border-radius: 0.5em;
}

.offer-title a {
    font-weight: 600;
    font-size: 1.1em;
    color: var(--white);
}

.price-wrapper {
    display: flex;
    gap: 0.4em;
    align-items: baseline;
    margin: 1em 0;
}

.currency {
    font-weight: 300;
    color: var(--brand-yellow);
    font-size: 1em;
}

.promotion-price {
    font-weight: 800;
    color: var(--brand-yellow);
    font-size: 1.5em;
}

.old-price {
    font-weight: 300;
    color: var(--offwhite);
    font-size: 1em;
    text-decoration: line-through;
}

.offer-date {
    font-weight: 300;
    margin: 3% 0 12% 0;
    color: var(--offwhite);
    font-size: var(--text-font-size);
}