{% load static %}

<footer>
    <div class="container">
        <div class="logo-footer">
            <img src="{% static 'imgs/logo.svg' %}" alt="Logomarca do Offclub">
            <p>Hello, we are moduscreate. Our goal is to translate the positive effects from revolutionizing how companies engage with their clients & their team.</p>
        </div>

        <div class="nav-lists-wrapper">
            <div class="nav-list">
                <h3>Usuários</h3>
                <ul>
                    <li><a href="#">Explorar ofertas</a></li>
                    <li><a href="#">Vantagens</a></li>
                    <li><a href="#">Preços</a></li>
                </ul> 
            </div>

            <div class="nav-list">
                <h3>Parceiros</h3>
                <ul>
                    <li><a href="#">Virar parceiro</a></li>
                    <li><a href="#">Vantagens</a></li>
                    <li><a href="#">Cadastrar ofertas</a></li>
                    <li><a href="#">Ver parceiros</a></li>
                </ul> 
            </div>

            <div class="nav-list">
                <h3>Sobre nós</h3>
                <ul>
                    <li><a href="#">Contato</a></li>
                    <li><a href="#">Sobre</a></li>
                    <li><a href="#">Onde estamos</a></li>
                </ul> 
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="bottom-links-wrapper">
            <ul class="bottom-links">
                <li><a href="#">Terms</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">Cookies</a></li>
            </ul> 
            
            <ul class="bottom-links">
                <li><a href="#"><img src="{% static 'imgs/icons/social_media/linkedin.svg' %}" alt="Linkedin"></a></li>
                <li><a href="#"><img src="{% static 'imgs/icons/social_media/twitter.svg' %}" alt="Twitter"></a></li>
                <li><a href="#"><img src="{% static 'imgs/icons/social_media/facebook.svg' %}" alt="Facebook"></a></li>
                <li><a href="#"><img src="{% static 'imgs/icons/social_media/instagram.svg' %}" alt="Instagram"></a></li>
            </ul> 
        </div>
    </div>
</footer>
