{% load static %}

<header>
    <div class="top-header container">
        <div class="left-top-header">
            <a href="{% url 'home' %}">
                <figure class="header-logo-wrapper">
                    <img src="{% static 'imgs/logo.svg' %}" alt="Logo do Offclub">
                </figure>
            </a>
            <div class="search-bar">
                <input type="text" placeholder="Buscar por..." class="search-input">
                <img src="{% static 'imgs/icons/search.svg' %}" alt="Ícone de Lupa">
            </div>
        </div>
        <div class="right-top-header flex-center">
            <div class="location">
                <img src="{% static 'imgs/icons/location.svg' %}" alt="Localização">
                {% if request.user.is_authenticated %}
                    {% with addr=request.user.addresses.first %}
                        <p>{{ addr.city }}</p>
                    {% endwith %}
                {% else %}
                <p>Cidade não informada</p>
                {% endif %}
            </div>
            <figure class="profile-button-wrapper flex-center">
                <a href="#">
                    {% if request.user.is_authenticated %}
                    {% if request.user.profile_picture %}
                    <img class="profile-image" style="width: 38px; height: 38px; border-radius: 50%;" src="{{ request.user.profile_picture.url }}" alt="Usuário">
                    {% else %}
                    {# Se não tiver, mostra a imagem padrão #}
                    <img src="{% static 'imgs/icons/profile.svg' %}" alt="Usuário">
                    {% endif %}
                    {% else %}
                    <img src="{% static 'imgs/icons/profile.svg' %}" alt="Usuário">
                    {% endif %}
                </a>
                <div class="profile-options">
                    {% if request.user.is_authenticated %}
                    <form method="post" action="{% url 'subscriber:logout' %}" id="logout-button">
                            {% csrf_token %}
                            <button type="submit" class="link-button">Sair</button>
                        </form>
                        {% else %}
                        <a class="link-button flex-center" href="{% url 'subscriber:login' %}">Entrar</a>
                        <a class="link-button flex-center" href="{% url 'subscriber:register' %}">Registrar</a>
                        {% endif %}
                    </div>
                </figure>
                {% if request.user.is_authenticated %}
                    <p>{{ request.user.subscriber.first_name }}</p>
                {% endif %}
            <div class="toggle-container">
                <input type="checkbox" id="theme-toggle" class="toggle-checkbox">
                <label for="theme-toggle" class="toggle-label">
                    <img src="{% static 'imgs/icons/sun.svg' %}" class="sun" alt="Sol">
                    <img src="{% static 'imgs/icons/moon.svg' %}" class="moon" alt="Lua">
                    <span class="toggle-thumb"></span>
                </label>
            </div>
        </div>
    </div>

    <hr class="container header-divider">

    <div class="bottom-header container">
        <ul class="nav-list">
            <li class="nav-item">
                <a href="#">Offclub</a>
                <img class="arrow" src="{% static 'imgs/icons/arrow-down.svg' %}" alt="Seta para baixo">
                <div class="dropdown-nav nav-offclub">
                    <ul class="dropdown-nav-list">
                        <li class="dropdown-nav-item">
                            <a class="dropdown-nav-link" href="#">Sobre</a>
                        </li>
                        <li class="dropdown-nav-item">
                            <a class="dropdown-nav-link" href="#">Onde estamos</a>
                        </li>
                        <li class="dropdown-nav-item">
                            <a class="dropdown-nav-link" href="#">Nossa história</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a href="#">Ofertas</a>
                <img class="arrow" src="{% static 'imgs/icons/arrow-down.svg' %}" alt="Seta para baixo">
                <div class="dropdown-nav nav-offclub">
                    <ul class="dropdown-nav-list">
                        <li class="dropdown-nav-item">
                            <a class="dropdown-nav-link" href="{% url 'offer_list' %}">Explorar ofertas</a>
                        </li>
                        <li class="dropdown-nav-item">
                            <a class="dropdown-nav-link" href="#">Explorar empresas</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a href="#">Parceiros</a>
                <img class="arrow" src="{% static 'imgs/icons/arrow-down.svg' %}" alt="Seta para baixo">
                <div class="dropdown-nav nav-offclub">
                    <ul class="dropdown-nav-list">
                        <li class="dropdown-nav-item">
                            <a class="dropdown-nav-link" href="#">Nossos parceiros</a>
                        </li>
                        <li class="dropdown-nav-item">
                            <a class="dropdown-nav-link" href="#">Seja parceiro</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a href="#">Planos</a>
                <img class="arrow" src="{% static 'imgs/icons/arrow-down.svg' %}" alt="Seta para baixo">
                <div class="dropdown-nav nav-offclub">
                    <ul class="dropdown-nav-list">
                        <li class="dropdown-nav-item">
                            <a class="dropdown-nav-link" href="{% url 'subscription:plans' %}">Nossos planos</a>
                        </li>
                        <li class="dropdown-nav-item">
                            <a class="dropdown-nav-link" href="#">Minhas assinaturas</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a href="#">Cupons</a>
                <img class="arrow" src="{% static 'imgs/icons/arrow-down.svg' %}" alt="Seta para baixo">
                <div class="dropdown-nav nav-offclub">
                    <ul class="dropdown-nav-list">
                        <li class="dropdown-nav-item">
                            <a class="dropdown-nav-link" href="#">Meus cupons</a>
                        </li>
                        <li class="dropdown-nav-item">
                            <a class="dropdown-nav-link" href="#">Histórico de consumo</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a href="#">Contato</a>
            </li>
        </ul>

        <link rel="stylesheet" href="{% static 'css/components/nav_bar_dropdown.css' %}">

        <!-- Menus de navegação do dropdown -->

    </div>
</header>