{% extends "base.html" %}
{% load static %}

{% block title %} Histórico de Consumo {% endblock title %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/subscriber.css' %}">
{% endblock head %}

{% block main %}
<article id="historico">
    <div class="container">
        <h1>HISTÓRICO DE CONSUMO</h1>
        <section class="active-coupons">
            <h2><span>ATIVOS</span></h2>

            <div class="coupons flex-center">
                <div class="coupon">
                    <div class="content">
                        <div class="enterprise-info">
                            <figure class="enterprise-logo"><img src="{% static 'imgs/logo-maozinha.png' %}" alt="Logo da Barbearia do Mãozinha"></figure>
                            <p class="enterprise-name">Barbearia do Mãozinha</p>
                        </div>
                        <div class="rest-of-content">
                            <div class="coupon-image">
                                <figure><img src="{% static 'imgs/coupon1.png' %}" alt="Imagem referente ao cupon"></figure>
                                <p><span class="discount-tag">-25%</span></p>
                            </div>
                            <div class="coupon-info">
                                <h3>Cabelo, barba e sobrancelha</h3>
                                <p>Utilizar até 31 de Jan., 2026</p>
                            </div>
                            <a href="{% url 'offer_detail' %}"><button>Conferir detalhes</button></a>
                        </div>
                    </div>
                </div>

                <div class="coupon">
                    <div class="content">
                        <div class="enterprise-info">
                            <figure class="enterprise-logo"><img src="{% static 'imgs/logo-maozinha.png' %}" alt="Logo da Barbearia do Mãozinha"></figure>
                            <p class="enterprise-name">Barbearia do Mãozinha</p>
                        </div>
                        <div class="rest-of-content">
                            <div class="coupon-image">
                                <figure><img src="{% static 'imgs/coupon1.png' %}" alt="Imagem referente ao cupon"></figure>
                                <p><span class="discount-tag">-25%</span></p>
                            </div>
                            <div class="coupon-info">
                                <h3>Cabelo, barba e sobrancelha</h3>
                                <p>Utilizar até 31 de Jan., 2026</p>
                            </div>
                            <a href="{% url 'offer_detail' %}"><button>Conferir detalhes</button></a>
                        </div>
                    </div>
                </div>

                <div class="coupon">
                    <div class="content">
                        <div class="enterprise-info">
                            <figure class="enterprise-logo"><img src="{% static 'imgs/logo-maozinha.png' %}" alt="Logo da Barbearia do Mãozinha"></figure>
                            <p class="enterprise-name">Barbearia do Mãozinha</p>
                        </div>
                        <div class="rest-of-content">
                            <div class="coupon-image">
                                <figure><img src="{% static 'imgs/coupon1.png' %}" alt="Imagem referente ao cupon"></figure>
                                <p><span class="discount-tag">-25%</span></p>
                            </div>
                            <div class="coupon-info">
                                <h3>Cabelo, barba e sobrancelha</h3>
                                <p>Utilizar até 31 de Jan., 2026</p>
                            </div>
                            <a href="{% url 'offer_detail' %}"><button>Conferir detalhes</button></a>
                        </div>
                    </div>
                </div>

                <div class="coupon">
                    <div class="content">
                        <div class="enterprise-info">
                            <figure class="enterprise-logo"><img src="{% static 'imgs/logo-maozinha.png' %}" alt="Logo da Barbearia do Mãozinha"></figure>
                            <p class="enterprise-name">Barbearia do Mãozinha</p>
                        </div>
                        <div class="rest-of-content">
                            <div class="coupon-image">
                                <figure><img src="{% static 'imgs/coupon1.png' %}" alt="Imagem referente ao cupon"></figure>
                                <p><span class="discount-tag">-25%</span></p>
                            </div>
                            <div class="coupon-info">
                                <h3>Cabelo, barba e sobrancelha</h3>
                                <p>Utilizar até 31 de Jan., 2026</p>
                            </div>
                            <a href="{% url 'offer_detail' %}"><button>Conferir detalhes</button></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="coupons more-coupons">
                <div class="coupon">
                    <div class="content">
                        <div class="enterprise-info">
                            <figure class="enterprise-logo"><img src="{% static 'imgs/logo-maozinha.png' %}" alt="Logo da Barbearia do Mãozinha"></figure>
                            <p class="enterprise-name">Barbearia do Mãozinha</p>
                        </div>
                        <div class="rest-of-content">
                            <div class="coupon-image">
                                <figure><img src="{% static 'imgs/coupon1.png' %}" alt="Imagem referente ao cupon"></figure>
                                <p><span class="discount-tag">-25%</span></p>
                            </div>
                            <div class="coupon-info">
                                <h3>Cabelo, barba e sobrancelha</h3>
                                <p>Utilizar até 31 de Jan., 2026</p>
                            </div>
                            <a href="{% url 'offer_detail' %}"><button>Conferir detalhes</button></a>
                        </div>
                    </div>
                </div>

                <div class="coupon">
                    <div class="content">
                        <div class="enterprise-info">
                            <figure class="enterprise-logo"><img src="{% static 'imgs/logo-maozinha.png' %}" alt="Logo da Barbearia do Mãozinha"></figure>
                            <p class="enterprise-name">Barbearia do Mãozinha</p>
                        </div>
                        <div class="rest-of-content">
                            <div class="coupon-image">
                                <figure><img src="{% static 'imgs/coupon1.png' %}" alt="Imagem referente ao cupon"></figure>
                                <p><span class="discount-tag">-25%</span></p>
                            </div>
                            <div class="coupon-info">
                                <h3>Cabelo, barba e sobrancelha</h3>
                                <p>Utilizar até 31 de Jan., 2026</p>
                            </div>
                            <a href="{% url 'offer_detail' %}"><button>Conferir detalhes</button></a>
                        </div>
                    </div>
                </div>

                <div class="coupon">
                    <div class="content">
                        <div class="enterprise-info">
                            <figure class="enterprise-logo"><img src="{% static 'imgs/logo-maozinha.png' %}" alt="Logo da Barbearia do Mãozinha"></figure>
                            <p class="enterprise-name">Barbearia do Mãozinha</p>
                        </div>
                        <div class="rest-of-content">
                            <div class="coupon-image">
                                <figure><img src="{% static 'imgs/coupon1.png' %}" alt="Imagem referente ao cupon"></figure>
                                <p><span class="discount-tag">-25%</span></p>
                            </div>
                            <div class="coupon-info">
                                <h3>Cabelo, barba e sobrancelha</h3>
                                <p>Utilizar até 31 de Jan., 2026</p>
                            </div>
                            <a href="{% url 'offer_detail' %}"><button>Conferir detalhes</button></a>
                        </div>
                    </div>
                </div>
                <div class="coupon">
                    <div class="content">
                        <div class="enterprise-info">
                            <figure class="enterprise-logo"><img src="{% static 'imgs/logo-maozinha.png' %}" alt="Logo da Barbearia do Mãozinha"></figure>
                            <p class="enterprise-name">Barbearia do Mãozinha</p>
                        </div>
                        <div class="rest-of-content">
                            <div class="coupon-image">
                                <figure><img src="{% static 'imgs/coupon1.png' %}" alt="Imagem referente ao cupon"></figure>
                                <p><span class="discount-tag">-25%</span></p>
                            </div>
                            <div class="coupon-info">
                                <h3>Cabelo, barba e sobrancelha</h3>
                                <p>Utilizar até 31 de Jan., 2026</p>
                            </div>
                            <a href="{% url 'offer_detail' %}"><button>Conferir detalhes</button></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="divider">
                <hr class="line before">
                <button class="read-more">
                    <p>Ver mais</p>
                    <img src="{% static 'imgs/ver_mais.svg' %}" alt="">
                </button>
                <hr class="line after">
            </div>
        </section>

        <section class="used-coupons">
            <h2><span>UTILIZADOS</span></h2>

            <div class="months">
                <div class="month">
                    <h3>Julho</h3>
                    <div class="coupons flex-center">
                        <div class="coupon" data-year="2025">
                            <div class="content">
                                <div class="enterprise-info">
                                    <figure class="enterprise-logo"><img src="{% static 'imgs/logo-maozinha.png' %}" alt="Logo da Barbearia do Mãozinha"></figure>
                                    <p class="enterprise-name">Barbearia do Mãozinha</p>
                                </div>
                                <div class="rest-of-content">
                                    <div class="coupon-image">
                                        <figure><img src="{% static 'imgs/coupon1.png' %}" alt="Imagem referente ao cupon"></figure>
                                        <p><span class="discount-tag">-25%</span></p>
                                    </div>
                                    <div class="coupon-info">
                                        <h3>Cabelo, barba e sobrancelha</h3>
                                        <p>Utilizado em 12 de Jul., 2025</p>
                                    </div>
                                    <a href="{% url 'offer_detail' %}"><button>Conferir detalhes</button></a>
                                </div>
                            </div>
                        </div>

                        <div class="coupon" data-month="2025">
                            <div class="content">
                                <div class="enterprise-info">
                                    <figure class="enterprise-logo"><img src="{% static 'imgs/logo-maozinha.png' %}" alt="Logo da Barbearia do Mãozinha"></figure>
                                    <p class="enterprise-name">Barbearia do Mãozinha</p>
                                </div>
                                <div class="rest-of-content">
                                    <div class="coupon-image">
                                        <figure><img src="{% static 'imgs/coupon1.png' %}" alt="Imagem referente ao cupon"></figure>
                                        <p><span class="discount-tag">-25%</span></p>
                                    </div>
                                    <div class="coupon-info">
                                        <h3>Cabelo, barba e sobrancelha</h3>
                                        <p>Utilizado em 12 de Jul., 2025</p>
                                    </div>
                                    <a href="{% url 'offer_detail' %}"><button>Conferir detalhes</button></a>
                                </div>
                            </div>
                        </div>

                        <div class="coupon">
                            <div class="content">
                                <div class="enterprise-info">
                                    <figure class="enterprise-logo"><img src="{% static 'imgs/logo-maozinha.png' %}" alt="Logo da Barbearia do Mãozinha"></figure>
                                    <p class="enterprise-name">Barbearia do Mãozinha</p>
                                </div>
                                <div class="rest-of-content">
                                    <div class="coupon-image">
                                        <figure><img src="{% static 'imgs/coupon1.png' %}" alt="Imagem referente ao cupon"></figure>
                                        <p><span class="discount-tag">-25%</span></p>
                                    </div>
                                    <div class="coupon-info">
                                        <h3>Cabelo, barba e sobrancelha</h3>
                                        <p>Utilizado em 12 de Jul., 2025</p>
                                    </div>
                                    <a href="{% url 'offer_detail' %}"><button>Conferir detalhes</button></a>
                                </div>
                            </div>
                        </div>

                        <div class="coupon">
                            <div class="content">
                                <div class="enterprise-info">
                                    <figure class="enterprise-logo"><img src="{% static 'imgs/logo-maozinha.png' %}" alt="Logo da Barbearia do Mãozinha"></figure>
                                    <p class="enterprise-name">Barbearia do Mãozinha</p>
                                </div>
                                <div class="rest-of-content">
                                    <div class="coupon-image">
                                        <figure><img src="{% static 'imgs/coupon1.png' %}" alt="Imagem referente ao cupon"></figure>
                                        <p><span class="discount-tag">-25%</span></p>
                                    </div>
                                    <div class="coupon-info">
                                        <h3>Cabelo, barba e sobrancelha</h3>
                                        <p>Utilizado em 12 de Jul., 2025</p>
                                    </div>
                                    <a href="{% url 'offer_detail' %}"><button>Conferir detalhes</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="month">
                    <h3>Junho</h3>
                    <div class="coupons flex-center">
                        <div class="coupon">
                            <div class="content">
                                <div class="enterprise-info">
                                    <figure class="enterprise-logo"><img src="{% static 'imgs/logo-maozinha.png' %}" alt="Logo da Barbearia do Mãozinha"></figure>
                                    <p class="enterprise-name">Barbearia do Mãozinha</p>
                                </div>
                                <div class="rest-of-content">
                                    <div class="coupon-image">
                                        <figure><img src="{% static 'imgs/coupon1.png' %}" alt="Imagem referente ao cupon"></figure>
                                        <p><span class="discount-tag">-25%</span></p>
                                    </div>
                                    <div class="coupon-info">
                                        <h3>Cabelo, barba e sobrancelha</h3>
                                        <p>Utilizado em 12 de Jul., 2025</p>
                                    </div>
                                    <a href="{% url 'offer_detail' %}"><button>Conferir detalhes</button></a>
                                </div>
                            </div>
                        </div>

                        <div class="coupon">
                            <div class="content">
                                <div class="enterprise-info">
                                    <figure class="enterprise-logo"><img src="{% static 'imgs/logo-maozinha.png' %}" alt="Logo da Barbearia do Mãozinha"></figure>
                                    <p class="enterprise-name">Barbearia do Mãozinha</p>
                                </div>
                                <div class="rest-of-content">
                                    <div class="coupon-image">
                                        <figure><img src="{% static 'imgs/coupon1.png' %}" alt="Imagem referente ao cupon"></figure>
                                        <p><span class="discount-tag">-25%</span></p>
                                    </div>
                                    <div class="coupon-info">
                                        <h3>Cabelo, barba e sobrancelha</h3>
                                        <p>Utilizado em 12 de Jul., 2025</p>
                                    </div>
                                    <a href="{% url 'offer_detail' %}"><button>Conferir detalhes</button></a>
                                </div>
                            </div>
                        </div>

                        <div class="coupon">
                            <div class="content">
                                <div class="enterprise-info">
                                    <figure class="enterprise-logo"><img src="{% static 'imgs/logo-maozinha.png' %}" alt="Logo da Barbearia do Mãozinha"></figure>
                                    <p class="enterprise-name">Barbearia do Mãozinha</p>
                                </div>
                                <div class="rest-of-content">
                                    <div class="coupon-image">
                                        <figure><img src="{% static 'imgs/coupon1.png' %}" alt="Imagem referente ao cupon"></figure>
                                        <p><span class="discount-tag">-25%</span></p>
                                    </div>
                                    <div class="coupon-info">
                                        <h3>Cabelo, barba e sobrancelha</h3>
                                        <p>Utilizado em 12 de Jul., 2025</p>
                                    </div>
                                    <a href="{% url 'offer_detail' %}"><button>Conferir detalhes</button></a>
                                </div>
                            </div>
                        </div>

                        <div class="coupon">
                            <div class="content">
                                <div class="enterprise-info">
                                    <figure class="enterprise-logo"><img src="{% static 'imgs/logo-maozinha.png' %}" alt="Logo da Barbearia do Mãozinha"></figure>
                                    <p class="enterprise-name">Barbearia do Mãozinha</p>
                                </div>
                                <div class="rest-of-content">
                                    <div class="coupon-image">
                                        <figure><img src="{% static 'imgs/coupon1.png' %}" alt="Imagem referente ao cupon"></figure>
                                        <p><span class="discount-tag">-25%</span></p>
                                    </div>
                                    <div class="coupon-info">
                                        <h3>Cabelo, barba e sobrancelha</h3>
                                        <p>Utilizado em 12 de Jul., 2025</p>
                                    </div>
                                    <a href="{% url 'offer_detail' %}"><button>Conferir detalhes</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="month">
                        <div class="coupons more-coupons">
                            <div class="coupon">
                                <div class="content">
                                    <div class="enterprise-info">
                                        <figure class="enterprise-logo"><img src="{% static 'imgs/logo-maozinha.png' %}" alt="Logo da Barbearia do Mãozinha"></figure>
                                        <p class="enterprise-name">Barbearia do Mãozinha</p>
                                    </div>
                                    <div class="rest-of-content">
                                        <div class="coupon-image">
                                            <figure><img src="{% static 'imgs/coupon1.png' %}" alt="Imagem referente ao cupon"></figure>
                                            <p><span class="discount-tag">-25%</span></p>
                                        </div>
                                        <div class="coupon-info">
                                            <h3>Cabelo, barba e sobrancelha</h3>
                                            <p>Utilizado em 12 de Jul., 2025</p>
                                        </div>
                                        <a href="{% url 'offer_detail' %}"><button>Conferir detalhes</button></a>
                                    </div>
                                </div>
                            </div>

                            <div class="coupon">
                                <div class="content">
                                    <div class="enterprise-info">
                                        <figure class="enterprise-logo"><img src="{% static 'imgs/logo-maozinha.png' %}" alt="Logo da Barbearia do Mãozinha"></figure>
                                        <p class="enterprise-name">Barbearia do Mãozinha</p>
                                    </div>
                                    <div class="rest-of-content">
                                        <div class="coupon-image">
                                            <figure><img src="{% static 'imgs/coupon1.png' %}" alt="Imagem referente ao cupon"></figure>
                                            <p><span class="discount-tag">-25%</span></p>
                                        </div>
                                        <div class="coupon-info">
                                            <h3>Cabelo, barba e sobrancelha</h3>
                                            <p>Utilizado em 12 de Jul., 2025</p>
                                        </div>
                                        <a href="{% url 'offer_detail' %}"><button>Conferir detalhes</button></a>
                                    </div>
                                </div>
                            </div>

                            <div class="coupon">
                                <div class="content">
                                    <div class="enterprise-info">
                                        <figure class="enterprise-logo"><img src="{% static 'imgs/logo-maozinha.png' %}" alt="Logo da Barbearia do Mãozinha"></figure>
                                        <p class="enterprise-name">Barbearia do Mãozinha</p>
                                    </div>
                                    <div class="rest-of-content">
                                        <div class="coupon-image">
                                            <figure><img src="{% static 'imgs/coupon1.png' %}" alt="Imagem referente ao cupon"></figure>
                                            <p><span class="discount-tag">-25%</span></p>
                                        </div>
                                        <div class="coupon-info">
                                            <h3>Cabelo, barba e sobrancelha</h3>
                                            <p>Utilizado em 12 de Jul., 2025</p>
                                        </div>
                                        <a href="{% url 'offer_detail' %}"><button>Conferir detalhes</button></a>
                                    </div>
                                </div>
                            </div>

                            <div class="coupon">
                                <div class="content">
                                    <div class="enterprise-info">
                                        <figure class="enterprise-logo"><img src="{% static 'imgs/logo-maozinha.png' %}" alt="Logo da Barbearia do Mãozinha"></figure>
                                        <p class="enterprise-name">Barbearia do Mãozinha</p>
                                    </div>
                                    <div class="rest-of-content">
                                        <div class="coupon-image">
                                            <figure><img src="{% static 'imgs/coupon1.png' %}" alt="Imagem referente ao cupon"></figure>
                                            <p><span class="discount-tag">-25%</span></p>
                                        </div>
                                        <div class="coupon-info">
                                            <h3>Cabelo, barba e sobrancelha</h3>
                                            <p>Utilizado em 12 de Jul., 2025</p>
                                        </div>
                                        <a href="{% url 'offer_detail' %}"><button>Conferir detalhes</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</article>
<script src="{% static 'js/subscriber.js' %}"></script>
{% endblock main %}