{% extends "base.html" %}
{% load static %}

{% block title %} Histórico de Consumo {% endblock title %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/subscriber.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/coupon_card.css' %}">
{% endblock head %}

{% block main %}
<main id="historico">
    <div class="container">
        <h1>HISTÓRICO DE CONSUMO</h1>
        <section class="active-coupons">
            <h2><span>ATIVOS</span></h2>
            <div class="coupons flex-center">
                    {% for coupon in active_coupons|slice:":4" %}
                            {% include 'components/coupon_card.html' with end_date=coupon.object.expiration_date title=coupon.object.offer.title discount=coupon.object.offer.discount offer_image=coupon.object.offer.image.url enterprise_name=coupon.object.offer.enterprise.trade_name enterprise_image=coupon.object.offer.enterprise.user.profile_picture.url old_price=coupon.data.old_price final_price=coupon.data.final_price %}
                    {% endfor %}
            </div>
            {% if active_coupons|length > 4 %}
            <div class="extra-coupons-wrapper">
                <div class="coupons flex-center">
                    {% for coupon in active_coupons|slice:"4:" %}
                        {% include 'components/coupon_card.html' with end_date=coupon.object.expiration_date title=coupon.object.offer.title discount=coupon.object.offer.discount offer_image=coupon.object.offer.image.url enterprise_name=coupon.object.offer.enterprise.trade_name enterprise_image=coupon.object.offer.enterprise.user.profile_picture.url old_price=coupon.data.old_price final_price=coupon.data.final_price %}
                    {% endfor %}
                </div>
            </div>
            <div class="divider">
                <hr class="line before">
                <button class="read-more">
                    <p>Ver mais</p>
                    <img src="{% static 'imgs/ver_mais.svg' %}" alt="">
                </button>
                <hr class="line after">
            </div>
            {% endif %}
        </section>

        <section class="used-coupons">
            <div class="adjust">
                <h2><span>UTILIZADOS</span></h2>
                <select name="year" id="year">
                    {% for year in years_group %}
                    <option value="{{ year }}">{{ year }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="coupons flex-center">
                {% regroup used_coupons by object.used_date.month as monthly_coupons %}
                {% for month_group in monthly_coupons %}
                    <div class="month-section" data-year="{{ month_group.list.0.object.used_date.year }}">
                        <h3 class="month-title">{{ month_group.list.0.object.used_date|date:"F" }}</h3>
                        <div class="coupons flex-center">
                            {% for coupon in month_group.list %}
                                {% include 'components/coupon_card.html' with used_date=coupon.object.used_date title=coupon.object.offer.title discount=coupon.object.offer.discount offer_image=coupon.object.offer.image.url enterprise_name=coupon.object.offer.enterprise.trade_name enterprise_image=coupon.object.offer.enterprise.user.profile_picture.url old_price=coupon.data.old_price final_price=coupon.data.final_price %}
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    </div>
</main>
<script src="{% static 'js/subscriber.js' %}"></script>
{% endblock main %}