{% extends "profile/base_profile.html" %}
{% load static %}
{% load offer_extras %}

{% block title %} Histórico de Consumo {% endblock title %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/subscriber.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/coupon_card.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile/base_profile.css' %}" />
    <link rel="stylesheet" href="{% static 'css/profile/personal_data.css' %}" />
{% endblock head %}

{% block profile_tab %}
<div class="personal-data-tab flex-row">

    <h1 class="tab-title">MEUS CUPONS</h1>

    {% if active_coupons or used_coupons or selected_month != 'all' %}
    <form action="" method="GET" id="filter-form">
        <div class="filters-group">
            <div class="month-filter">
                <label class="filter-name">Mês</label>
                <select name="month" id="filter-month" onchange="this.form.submit()">
                    <option value="all" {% if selected_month == 'all' %}selected{% endif %}>Todos</option> 
                    <option value="1" {% if selected_month == 1 %}selected{% endif %}>Janeiro</option>
                    <option value="2" {% if selected_month == 2 %}selected{% endif %}>Fevereiro</option>
                    <option value="3" {% if selected_month == 3 %}selected{% endif %}>Março</option>
                    <option value="4" {% if selected_month == 4 %}selected{% endif %}>Abril</option>
                    <option value="5" {% if selected_month == 5 %}selected{% endif %}>Maio</option>
                    <option value="6" {% if selected_month == 6 %}selected{% endif %}>Junho</option>
                    <option value="7" {% if selected_month == 7 %}selected{% endif %}>Julho</option>
                    <option value="8" {% if selected_month == 8 %}selected{% endif %}>Agosto</option>
                    <option value="9" {% if selected_month == 9 %}selected{% endif %}>Setembro</option>
                    <option value="10" {% if selected_month == 10 %}selected{% endif %}>Outubro</option>
                    <option value="11" {% if selected_month == 11 %}selected{% endif %}>Novembro</option>
                    <option value="12" {% if selected_month == 12 %}selected{% endif %}>Dezembro</option>
                </select>
            </div>
            <div class="year-filter">
                <label class="filter-name">Ano</label>
                <select name="year" id="filter-year" onchange="this.form.submit()">
                    <option value="all" {% if selected_year == 'all' %}selected{% endif %}>Todos</option>
                    {% for year in years_group %}
                        <option value="{{year}}" {% if selected_year == year %}selected{% endif %}>{{year}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="ordenation-filter">
                <label class="filter-name">Ordenar por</label>
                <select name="order" id="filter-order" onchange="this.form.submit()">
                    <option value="recent" {% if selected_order == 'recent' %}selected{% endif %}>Mais recente</option>
                    <option value="old" {% if selected_order == 'old' %}selected{% endif %}>Mais antigo</option>
                </select>
            </div>
        </div>
    </form>
    {% endif %}

    <div class="coupons-history">
        <div class="active-coupons">
            <div class="profile-section-title flex-row">
                <h2>Ativos</h2>
                <hr />
            </div>
            <div id="container-active" class="coupons-list-wrapper">
            {% if active_coupons %}
                    {% for coupon in active_coupons %}
                    <div class="coupon-item" 
                             data-timestamp="{{ coupon.object.expiration_date|date:'U' }}"
                             data-type="active">
                    {% include 'components/coupon_card.html' with coupon=coupon end_date=coupon.object.expiration_date offer_title=coupon.object.offer.title discount=coupon.object.offer.discount offer_image=coupon.object.offer.image|offer_image_url enterprise_name=coupon.object.offer.enterprise.trade_name enterprise_image=coupon.object.offer.enterprise.user.profile_picture|offer_image_url old_price=coupon.data.old_price final_price=coupon.data.final_price%}
                    </div>
                {% endfor %}
                <p id="no-filter-results" style="display: none; text-align: left; color: #fff;">Nenhum cupom encontrado neste período.</p>
            {% else %}
                <p>Não há cupons ativos vinculados à sua conta!</p>
            {% endif %}
            </div>
        </div>
    
        <div class="used-coupons">
            <div class="profile-section-title flex-row">
                <h2>Inativos</h2>
                <hr />
            </div>
            <div id="container-used" class="coupons-list-wrapper">
            {% if used_coupons %}
                {% for coupon in used_coupons %}
                <div class="coupon-item" 
                             data-month="{{ coupon.object.used_date|date:'n' }}" 
                             data-year="{{ coupon.object.used_date|date:'Y' }}"
                             data-timestamp="{{ coupon.object.used_date|date:'U' }}">
                    {% include 'components/coupon_card.html' with coupon=coupon end_date=coupon.object.used_date offer_title=coupon.object.offer.title discount=coupon.object.offer.discount offer_image=coupon.object.offer.image|offer_image_url enterprise_name=coupon.object.offer.enterprise.trade_name enterprise_image=coupon.object.offer.enterprise.user.profile_picture|offer_image_url old_price=coupon.data.old_price final_price=coupon.data.final_price %}
                </div>
                {% endfor %}
                <p id="no-filter-results" style="display: none; text-align: left; color: #fff;">Nenhum cupom encontrado neste período.</p>
            {% else %}
                <p>Não há cupons inativos vinculados à sua conta!</p>
            {% endif %}
            </div>
        </div>

        {% if max_pages > 1 %}
        <div class="pagination-container">
            {% if has_previous %}
                <a href="?page={{ previous_page }}&{{ request.GET.urlencode | cut:'page' }}" class="page-btn arrow"><img src="{% static 'imgs/icons/back_arrow.svg' %}" alt=""></a>
            {% endif %}
            {% for num in page_range %}
                {% if num == current_page %}
                    <div class="circle-container active">
                        <span class="page-btn">{{ num }}</span>
                    </div>
                {% else %}
                    {% if num <= 3 or num > max_pages|add:"-2" or num == current_page|add:"-1" or num == current_page|add:"1" %}
                        <div class="circle-container">
                            <a href="?page={{ num }}&{{ request.GET.urlencode | cut:'page' }}" class="page-btn previous-or-next">{{ num }}</a>
                        </div>
                    {% elif num == 4 or num == max_pages|add:"-2" %}
                        <span class="page-dots">...</span>
                    {% endif %}
                {% endif %}
            {% endfor %}
    
            {% if has_next %}
                <a href="?page={{ next_page }}&{{ request.GET.urlencode | cut:'page' }}" class="page-btn next-arrow"><img src="{% static 'imgs/icons/back_arrow.svg' %}" alt=""></a>
            {% endif %}
        </div>
        {% endif %}
    </div>
</div>
{% endblock profile_tab %}
{% block scripts %}
    <script src="{% static 'js/subscriber.js' %}"></script>
{% endblock scripts%}