main h1{
    width: 246px;
    margin: 0 auto;
    margin-top: 1.4em;
    margin-bottom: 1.2em;
    font-weight: 500;
    text-align: center;
    color: transparent;
    background-image: linear-gradient(to right, var(--brand-yellow), var(--brand-orange-darker));
    -webkit-background-clip: text;
    background-clip: text;
}
/* ORGANIZAÇÃO GERAL DO FORMULÁRIO */
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.register-container{
    width: 80%;
    margin: 0 auto;
    animation: fade-in 0.5s ease-in-out;
}
.form-step{
    width: 100%;
    margin: 0 auto;
    padding: 65px;
    color: var(--white);
    background-color: var(--background-color);
    border: 2px solid #373737;
    border-radius: 20px;
}
.field-group{
    margin-bottom: 20px;
}
label{
    color: var(--white);
    display: block;
    font-size: 14px;
}
label:not(#upload, #id_info-line_of_business > div > label, .toggle-label){
    margin-bottom: 8px;
}
input, textarea{
    width: 100%;
    height: 22px;
    padding: 20px;
    border-radius: 10px;
    background-color: #252525;
    color: var(--white);
    border: none;
    font-family: var(--main-font-family);
    resize: none;
}
textarea{
    height: 120px;
}
input:focus, textarea:focus, select:focus {
    outline: none;
}
input::placeholder{
    font-size: 15px;
}
.form-buttons{
    display: flex;
    justify-content: center;
}
button.next{
    font-family: var(--main-font-family);
    font-size: 16px;
    text-align: center;
    border-radius: 10px;
    font-weight: 600;
    color: var(--white);
    background: linear-gradient(to right, var(--brand-orange), #A15D18);
    width: 230px;
    padding: 0.5em;
    border: none;
    margin-top: 2.2em;
    margin-bottom: 2.2em;
}

/* ORGANIZAÇÃO DO DISPLAY DOS CAMPOS DE FORMULÁRIO */
#id_info-line_of_business {
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    gap: 15px;       
    background-color: #252525;
    border-radius: 10px;
    padding: 10px;
}
#id_info-line_of_business input[type="radio"] {
    display: none;
}
#id_info-line_of_business > div > label {
    display: block;
    padding: 10px 20px;
    background-color: #252525; 
    border: 2px solid #373737;
    border-radius: 10px;        
    color: var(--white);
    cursor: pointer;
    transition: all 0.2s ease-in-out; 
}
#id_info-line_of_business > div > label:hover {
    border-color: #555;
}
#id_info-line_of_business > div > label:has(input:checked) {
    background-color: #555; 
    border-color: #555;
}
.content-fields-container{
    display: flex;
    gap: 20px;
    width: 100%;
}
.content-fields-container .field-group{
    width: 100%;
}