{% extends 'base.html' %}

{% load static %}

{% block title %}Registro - Passo 3{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/register/steps.css' %}">
    <link rel="stylesheet" href="{% static 'css/register/step3.css' %}">
    <link rel="stylesheet" href="{% static 'css/register/enterprise.css' %}">
    {% endblock %}

{% block main %}
<main class="container cadastro-container">
    <div class="title-register container flex-center">
        <p>Cadastro de Empresa</p>
    </div>
    <div class="steps flex-row">
        <div class="step flex-row step-1 done">
            <div class="number-wrapper">
                <img src="{% static 'imgs/check.svg' %}" alt="">
            </div>
            <p>Dados da empresa</p>
        </div>
        <img src="{% static 'imgs/steps_divider.svg' %}" alt="">
        <div class="step flex-row step-2 done">
            <div class="number-wrapper">
                <img src="{% static 'imgs/check.svg' %}" alt="">
            </div>
            <p>Login</p>
        </div>
        <img src="{% static 'imgs/steps_divider.svg' %}" alt="">
        <div class="step flex-row step-3 active">
            <div class="number-wrapper">
                <p>3</p>
            </div>
            <p>Contato</p>
        </div>
        <img src="{% static 'imgs/steps_divider.svg' %}" alt="">
        <div class="step flex-row step-4">
            <div class="number-wrapper">
                <p>4</p>
            </div>
            <p>Foto de Perfil</p>
        </div>
    </div>
    
    <form method="post">
        {% csrf_token %}
        <div class="form-fields">
            {{ wizard.management_form }}
            {% for field in wizard.form %}
                <div class="field-wrapper {{ field.field.widget.attrs.class }}">
                    {% if field.label %}
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {% endif %}
                    {{ field }}
                    {% if field.errors %}
                        <div class="error-msg">{{ field.errors }}</div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        
        <button type="submit">Próximo</button>
    </form>
</main>
{% endblock %}