<div class="steps-counter">
            <ol class="steps-list">
                <li class="{% if current_step == 1 %}active{% endif %}">
                    <p class="steps-stage">1</p>
                    <p class="step-name">Dados da Empresa</p>
                </li>
                <li class="{% if current_step == 2 %}active{% endif %}">
                    <p class="steps-stage">2</p>
                    <p class="step-name">Login</p>
                </li>
                <li class="{% if current_step == 3 %}active{% endif %}">
                    <p class="steps-stage">3</p>
                    <p class="step-name">Contato</p>
                </li>
                <li class="{% if current_step == 4 %}active{% endif %}">
                    <p class="steps-stage">4</p>
                    <p class="step-name">Foto de Perfil</p>
                </li>
            </ol>
        </div>