{% load static %}
<div class="steps-counter">
            <ol class="steps-list">
                <li class="{% if current_step == 1 %}active{% elif current_step > 1 %}past{% endif %}">
                    <div class="circle-container">
                        <img src="{% static 'imgs/icons/check.svg' %}" alt="Símbolo de concluído (check)">
                        <p class="step-stage">1</p>
                    </div>
                    <p class="step-name">Dados da empresa</p>
                </li>
                <li class="{% if current_step == 2 %}active{% elif current_step > 2 %}past{% endif %}">
                    <div class="circle-container">
                        <img src="{% static 'imgs/icons/check.svg' %}" alt="Símbolo de concluído (check)">
                        <p class="step-stage">2</p>
                    </div>
                    <p class="step-name">Login</p>
                </li>
                <li class="{% if current_step == 3 %}active{% elif current_step > 3 %}past{% endif %}">
                    <div class="circle-container">
                        <img src="{% static 'imgs/icons/check.svg' %}" alt="Símbolo de concluído (check)">
                        <p class="step-stage">3</p>
                    </div>
                    <p class="step-name">Contato</p>
                </li>
                <li class="{% if current_step == 4 %}active{% endif %}">
                    <div class="circle-container">
                        <img src="{% static 'imgs/icons/check.svg' %}" alt="Símbolo de concluído (check)">
                        <p class="step-stage">4</p>
                    </div>
                    <p class="step-name">Foto de perfil</p>
                </li>
            </ol>
        </div>