/* Configurações gerais do modal */
#offer-modal {
  width: 55%;
  margin: auto;
  background-color: var(--dark-grey);
  border-radius: var(--border-radius);
  border: 1px solid var(--brand-yellow);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  padding: 45px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

/* Subtítulos */
#offer-modal h3 {
  font-size: 13px;
  color: var(--light-grey);
  font-weight: 400;
  margin-top: 15px;
}

/* Botões */
button {
  border: none;
  border-radius: var(--border-radius);
}

/* Colunas dentro do modal */
.offer-card, .offer-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Valores */
.price-info p{
  font-weight: 500;
}
#final-value {
  font-size: 20px;
  font-weight: 700;
  color: var(--brand-yellow);
}

/* Botão - resgatar */
#redeem-button {
  background: var(--gradient-yellow-dark-orange);
  color: var(--black);
  padding: 8px 65px;
  font-size: 16px;
  font-weight: 600;
  margin-top: 15px;
}

/* Informações da empresa */
.shop-info {
  display: flex; 
  align-items: center;
  gap: 10px;
  margin-top: 15px;
}
.shop-info > p {
  font-weight: 300;
}
.shop-info .yellow-border {
  display: flex;
  align-items: center;
  gap: 5px;
}
.shop-info .yellow-border p{
  font-size: 12px;
  margin-top: 2px
}

/* Classe para borda amarela */
.yellow-border {
  border: 1px solid var(--brand-yellow);
  border-radius: 20px;
  padding: 3px 15px;
  display: inline-block;
}

/* Status */
.status p {
  color: var(--brand-yellow);
  margin-top: 3px;
}
.yellow-border svg {
  color: var(--brand-yellow);
}

/* Unidades restantes */
.units p {
  font-size: 13px;
  font-weight: 600;
  margin-top: 3px;
}

/* Tags cateogrias */
.categories {
  width: fit-content;
  display: inline-flex;
  align-items: center;
  gap: 12px;
  padding: 8px 30px 8px 18px;
  background-color: var(--dark-yellow);
  border-radius: var(--border-radius);
  margin-top: 20px;
  margin-bottom: 5px;
}
.categories img {
  width: 15px;
  height: 15px;
}
.categories p{
  font-size: 13px;
}


/* Datas sobre oferta */
.offer-info {
  display: flex;
  justify-content: space-between;
}
.offer-info div + div {
  text-align: end;
}

/* Botão de fechar modal */
#close-button-modal {
  position: absolute;
  top: 5%;
  right: 3%;
  background-color: var(--grey);
  width: 32px;
  height: 32px;
}
#close-button-modal svg {
  color: var(--medium-grey);
}