.evaluation-card{
    background-color: var(--medium-gray);
    border-radius: var(--border-radius);
    min-width: 500px;
    flex: 1;

    padding: 30px 35px;
    gap: 20px;

}

.stars{
    display: flex;
    gap: 5px;
}
.yellow-star{
    color: var(--brand-yellow);
}
.grey-star{
    color: var(--light-grey);
}

.subscriber{
    display: flex;
    gap: 14px;

    img{
        object-fit: cover;
        width: 2.5em;
        height: 2.5em;
        border-radius: 50%;
    }

    .subscriber-name{
        font-weight: 600;
    }
    .subscriber-name + p{
        font-size: 12px;
    }
}