{% load static %}

<div class="{{ class }} coupon_card">
    <div class="top-container">
        <div class="coupon_card_enterprise">
            <img src="{{ enterprise_image }}" alt="{{enterprise_name}}">
            <p>{{ enterprise_name }}</p>
        </div>
        <div class="final-date">
            <p class="deadline">Disponível até</p>
            <span>{{ end_date|date:"d/m/Y" }}</span>
        </div>
    </div>
    <div class="coupon_card_offer">
        <img src="{{ offer_image }}" alt="" class="offer_image">
        <span>{{ discount }}%</span>
        <h3><a href="{{ link }}">{{ title }}</a></h3>
    </div>
    <div class="price">
        <p class="currency">R$</p>
        <p class="promotion_price">{{ final_price|floatformat:2 }}</p>
        <p class="old_price">{{ old_price|floatformat:2 }}</p>
    </div>
    <div class="coupon_card_coupon">
        {% if used_date %}
            <p class="general">Usado em {{ used_date }}</p>
        {% else %}
            <p class="general">Regatar até {{ end_date }}</p>
        {% endif %}
    </div>

    {% for dic in used_coupons %}
        {% with coupon=dic.object %}
            <div class="coupon-card">
                <button class="review_button open_modal" data-coupon-id="{{ coupon.object.id }}">Avaliar</button>
                
                {% include 'components/review_coupon.html' with coupon=coupon %}
            </div>
            <div class="price">
                <p class="currency">R$</p>
                <p class="promotion_price">{{ final_price|floatformat:2 }}</p>
                <p class="old_price">{{ old_price|floatformat:2 }}</p>
            </div>
        </div>
    
        <div class="buttons-wrapper">
            {% if coupon.object.used_date %}
                {% if not coupon.object.evaluation %}
                    <div class="coupon-card">
                        <button class="evaluate_button open_modal" data-coupon-id="{{ coupon.object.id }}">Avaliar</button>
                        
                        {% include 'components/evaluate_coupon.html' with coupon=coupon %}
                    </div>
                {% else %}
                <div class="coupon-card">
                    <button class="evaluate_button" data-coupon-id="{{ coupon.object.id }}" disabled>Avaliado</button>
                </div>
                {% endif %}
            {% endif %}
            <div class="coupon-details">
                <button class="detail_button" data-coupon-id="{{ coupon.object.id }}"><a href="{% url 'coupon:coupon_detail' coupon.object.id %}">Detalhes</a></button>
            </div>
        </div>
    </div>
</div>