{% extends 'base.html' %}

{% load static %}

{% block title %}Registro - Passo 4{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/register/steps.css' %}">
    <link rel="stylesheet" href="{% static 'css/register/step4.css' %}">
{% endblock %}

{% block main %}
<main class="container cadastro-container">
    <div class="title-register container flex-center">
        <p>Cadastro de Usuário</p>
    </div>
    <div class="steps flex-row">
        <div class="step flex-row step-1 done">
            <div class="number-wrapper">
                <img src="{% static 'imgs/check.svg' %}" alt="">
            </div>
            <p>Informações Pessoais</p>
        </div>
        <img src="{% static 'imgs/steps_divider.svg' %}" alt="">
        <div class="step flex-row step-2 done">
            <div class="number-wrapper">
                <img src="{% static 'imgs/check.svg' %}" alt="">
            </div>
            <p>Login</p>
        </div>
        <img src="{% static 'imgs/steps_divider.svg' %}" alt="">
        <div class="step flex-row step-3 done">
            <div class="number-wrapper">
                <img src="{% static 'imgs/check.svg' %}" alt="">
            </div>
            <p>Contato</p>
        </div>
        <img src="{% static 'imgs/steps_divider.svg' %}" alt="">
        <div class="step flex-row step-4 active">
            <div class="number-wrapper">
                <p>4</p>
            </div>
            <p>Foto de Perfil</p>
        </div>
    </div>
    
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-fields">
            {{ wizard.management_form }}
        
            {% if wizard.form.errors %}
                <div class="alert alert-danger">
                    Por favor, corrija os erros abaixo.
                </div>
            {% endif %}

            {{ wizard.form.as_p }}
        </div>
        

        <button type="submit">Próximo</button>
    </form>
</main>
{% endblock %}