{% load static %}
{% load offer_extras %}
<div class="{{ class }} offer-card flex-column flex-center" data-offer-id="{{ data_id }}">
    <div class="offer-card-enterprise">
        {% if offer.enterprise.user.profile_picture %}
        <img src="{{ offer.enterprise.user.profile_picture|offer_image_url }}" alt="Logo {{ offer.enterprise.trade_name }}">
        {% else %}
        <img src="{% static 'imgs/empty_enterprise.svg' %}" alt="">
        {% endif %}
        <p>{{ offer.enterprise.trade_name }}</p>
    </div>

    <div class="offer-card-offer">
        <div class="offer-image-wrapper">
            {% if offer.image %}
                <img src="{{ offer.image|offer_image_url }}" alt="Imagem de {{ offer.title }}" class="offer-image">
            {% else %}
                <img src="{% static 'imgs/default.png' %}" alt="Imagem de {{ offer.title }}" class="offer-image">
            {% endif %}
            <span class="offer-discount-badge">{{ offer.discount }}%</span>
        </div>
        <h3 class="offer-title">{{ offer.title }}</h3>
    </div>

    <div class="price-wrapper">
        <p class="currency">R$</p>
        <p class="promotion-price">{{ offer.final_price|stringformat:".2f" }}</p>
        <p class="old-price">{{ offer.price|stringformat:".2f" }}</p>
    </div>

    <div class="offer-card-footer">
        <p class="offer-date">Até {{ offer.end_date|date:"d/m/Y" }}</p>
    </div>
</div>