/* ============================================= */
/* Layout Principal                 */
/* ============================================= */
main.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 40px 20px;
}

.plan-cards-container {
    margin-top: 2em;
    gap: 20px;
    width: 100%;
}

/* ============================================= */
/* Estrutura Base dos Cards            */
/* ============================================= */
.plan-card {
    border-radius: var(--border-radius-small);
    width: 60%;
    padding: 1px;
    height: -webkit-fill-available;
}

.plan-card-content {
    height: 100%;
    background-color: var(--background-color);
    border-radius: var(--border-radius-small);
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    position: relative;
    backdrop-filter: blur(3px);
}

/* ============================================= */
/* Tipografia                   */
/* ============================================= */
main.container > h1 {
    font-size: var(--text-font-size-large);
    background: var(--gradient-gold);
    color: transparent;
    background-clip: text;
    text-align: center;
}

.plan-card h2 {
    font-size: 32px;
    font-weight: var(--h1-font-weight);
    font-family: var(--special-font-family);
}

.plan-titles h3 {
    font-size: var(--text-font-size);
    font-weight: var(--text-font-weight);
}

.plan-details h3 {
    font-size: var(--text-font-size);
    font-weight: 800;   
    margin-bottom: 12px;
}

.plan-price {
    font-size: var(--h2-font-size);
    font-weight: var(--h2-font-weight);
}

/* ============================================= */
/* Componentes dos Cards               */
/* ============================================= */
.plan-card hr {
    width: 100%;
    border-color: var(--almost-transparent-white);
}

.plan-card.recommended {
    background-color: rgba(255, 255, 255, 0.05);
    transform: scale(1.05);
}

.plan-card.recommended .plan-card-content {
    filter: brightness(1.2);
}



.plan-card.recommended, .plan-card.recommended .plan-card-content {
    position: relative;
    border-radius: 0 var(--border-radius-small) var(--border-radius-small) var(--border-radius-small);
}

.plan-card.recommended .badge {
    position: absolute;
    top: 0;
    left: -1px;
    transform: translateY(-100%);
    background: var(--gradient-silver);
    color: var(--white);
    padding: 8px 24px;
    border-radius: var(--border-radius-small) var(--border-radius-small) 0 0;
    font-weight: 600;
    font-size: var(--minor-text-font-size);
}

.text-circle {
    display: flex;
    align-items: center;
    gap: 8px;
}

.bronze-circle, .silver-circle, .gold-circle {
    width: 1.75em;
    height: 1.75em;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-circle {
    width: 1.25em;
    height: 1.25em;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
}

.plan-details {
    flex: 1;
}

.plan-features {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.plan-features li {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    color: var(--white);
    font-size: var(--text-font-size);
}

.plan-features li::before {
    content: '✔';
    color: var(--white);
}

li.available .feature-content {
    display: flex;
    flex-direction: column;
}

li.available .feature-content .feature-name {
    color: var(--white);
}

li.available .feature-content .feature-description {
    color: var(--offwhite)
}

.plan-features li.unavailable {
    align-items: center;
    color: var(--gray);
    text-decoration: line-through;
}

.plan-features li.unavailable::before {
    text-align: center;
    content: '❌';
    font-size: 10px;
    color: transparent;
    text-shadow: 0 0 0 var(--gray);
}

.plan-price-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subscribe-button {
    color: var(--white);
    border: none;
    padding: 12px 24px;
    border-radius: 5px;
    font-weight: 600;
    font-size: var(--text-font-size);
    transition: transform 0.2s ease-in-out;
}

.subscribe-button:hover {
    transition: transform 0.2s ease-in-out;
    filter: brightness(1.1);
    transform: scale(1.005);
}

/* ============================================= */
/* Temas dos Planos                 */
/* ============================================= */
.bronze h2 {
    color: var(--brown);
}

.silver h2 {
    color: var(--cyan);
}

.gold h2 {
    color: var(--brand-yellow);
}

.plan-card.bronze {
    background: var(--gradient-bronze);
}

.plan-card.silver {
    background: var(--gradient-silver);
}

.plan-card.gold {
    background: var(--gradient-gold);
}

.bronze .subscribe-button {
    background: var(--gradient-bronze);
}

.silver .subscribe-button {
    background: var(--gradient-silver);
}

.gold .subscribe-button {
    background: var(--gradient-gold);
}

.bronze-circle {
    background: var(--gradient-bronze);
}

.silver-circle {
    background: var(--gradient-silver);
}

.gold-circle {
    background: var(--gradient-gold);
}