.filters-group{
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin-bottom: 2em;
}
.filters-group > div{
  display: flex;
  flex-direction: column;
}
.filters-group > div > label{
  color: var(--light-grey);
}
.active-coupons{
  margin-bottom: 20px;
}
select{
  color: var(--light-grey);
  background-color: #333333 ;
  width: 190px;
  height: 35px;
  border: none;
  border-radius: var(--border-radius-small);
  outline: none;
  padding: 0.6em;
  display: flex;
  align-items: center;
}
select, select option{
  font-family: var(--main-font-family);
}
.coupon_card_enterprise img{
  width: 20px;
  border-radius: 50%;
}
span{
  color: var(--white);
}
p.deadline{
  color: var(--light-grey);
}