{% extends "base.html" %}
{% load static %}

{% block title %}Cadastro de Empresa{% endblock title %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/enterprise.css' %}">
{% endblock head %}

{% block main %}
<main id="enterprise-register-proposal">
    <h1>Cadastro - Passo {{ wizard.steps.step1 }} de {{ wizard.steps.count }}</h1>
    
    <div class="register-container">
        {% include 'components/steps.html' with current_step=wizard.steps.step1 %}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            
            {{ wizard.management_form }}
            
            <div class="form-step">
                {% for field in wizard.form %}
                <!-- Caso encontre o campo de senha, criar uma div dos campos de senha para ajustar o display deles para flex -->
                    {% if field.name == 'password' %} 
                        <div class="content-fields-container">
                            <div class="field-group">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {{ field }}
                                {% for error in field.errors %}<p class="error">{{ error }}</p>{% endfor %}
                            </div>
        
                    {% elif field.name == 'password2' %}
                            <div class="field-group">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {{ field }}
                                {% for error in field.errors %}<p class="error">{{ error }}</p>{% endfor %}
                            </div>
                        </div>

                <!-- Caso encontre o campo de telefone, criar uma div dos campos de telefone para ajustar o display deles para flex -->
                    {% elif field.name == 'phone_number' %} 
                        <div class="content-fields-container">
                            <div class="field-group">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {{ field }}
                                {% for error in field.errors %}<p class="error">{{ error }}</p>{% endfor %}
                            </div>
        
                    {% elif field.name == 'phone_number2' %}
                            <div class="field-group">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {{ field }}
                                {% for error in field.errors %}<p class="error">{{ error }}</p>{% endfor %}
                            </div>
                        </div>
                    
                <!-- Caso encontre o campo de cep, criar uma div container para ajustar o display deles para flex -->
                    {% elif field.name == 'cep' %} 
                        <div class="content-fields-container">
                            <div class="field-group">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {{ field }}
                                {% for error in field.errors %}<p class="error">{{ error }}</p>{% endfor %}
                            </div>
        
                    {% elif field.name == 'street' %}
                            <div class="field-group">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {{ field }}
                                {% for error in field.errors %}<p class="error">{{ error }}</p>{% endfor %}
                            </div>

                    {% elif field.name == 'number' %}
                            <div class="field-group">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {{ field }}
                                {% for error in field.errors %}<p class="error">{{ error }}</p>{% endfor %}
                            </div>
                        </div>
                <!-- Caso encontre o campo de complemento, criar uma div dos campos de complemento para ajustar o display deles para flex -->
                    {% elif field.name == 'complement' %} 
                        <div class="content-fields-container">
                            <div class="field-group">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {{ field }}
                                {% for error in field.errors %}<p class="error">{{ error }}</p>{% endfor %}
                            </div>
        
                    {% elif field.name == 'neighborhood' %}
                            <div class="field-group">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {{ field }}
                                {% for error in field.errors %}<p class="error">{{ error }}</p>{% endfor %}
                            </div>
                        </div>
                
                <!-- Caso encontre o campo de cidade, criar uma div dos campos de cidade para ajustar o display deles para flex -->
                    {% elif field.name == 'city' %} 
                        <div class="content-fields-container">
                            <div class="field-group">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {{ field }}
                                {% for error in field.errors %}<p class="error">{{ error }}</p>{% endfor %}
                            </div>
        
                    {% elif field.name == 'state' %}
                            <div class="field-group">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {{ field }}
                                {% for error in field.errors %}<p class="error">{{ error }}</p>{% endfor %}
                            </div>
                        </div>
                        
                    <!-- Situação regular - não é necessário alocar uma div container -->
                    {% else %}
                    <div class="field-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                        {% if field.label_text %}
                            <small class="form-text text-muted">{{ field.label_text }}</small>
                        {% endif %}
                        {% for error in field.errors %}
                            <p class="error">{{ error }}</p>
                        {% endfor %}
                    </div>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="form-buttons">
                {% if wizard.steps.prev %}
                    <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">Primeiro Passo</button>
                    <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">Passo Anterior</button>
                {% endif %}

                <button type="submit" class="next">Próximo</button> 
            </div>
        </form>
    </div>
</main>
{% endblock main %}