{% extends 'base.html' %}
{% load static %}

{% block title %}Planos de Assinatura{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/plans.css' %}">
{% endblock head %}

{% block main %}
<main class="container">
    <h1>Planos disponíveis</h1>
    <section class="copper plan-card">
        <h3>Seja um assinante</h3>
        <h2>Bronze</h2>
        <hr>
        <div class="plan-details">
            <h3>Com o plano BRONZE você aproveita:</h3>
            <ul class="plan-features">
                <li>Acesso a ofertas exclusivas</li>
                <li>Mais de 20 cupons disponíveis todos os meses</li>
                <li>Desconto em produtos e serviços</li>
                <li>Acesso a ofertas exclusivas</li>
                <li>Mais de 20 cupons disponíveis todos os meses</li>
                <li>Desconto em produtos e serviços</li>
            </ul>
        </div>
        <hr>
        <button class="subscribe-button">Este é meu plano ideal</button>
    </section>

    <section class="silver plan-card">
        <h3>Seja um assinante</h3>
        <h2>Prata</h2>
        <hr>
        <div class="plan-details">
            <h3>Com o plano PRATA você aproveita:</h3>
            <ul class="plan-features">
                <li>Acesso a ofertas exclusivas</li>
                <li>Mais de 20 cupons disponíveis todos os meses</li>
                <li>Desconto em produtos e serviços</li>
                <li>Acesso a ofertas exclusivas</li>
                <li>Mais de 20 cupons disponíveis todos os meses</li>
                <li>Desconto em produtos e serviços</li>
                <li>Acesso a ofertas exclusivas</li>
                <li>Mais de 20 cupons disponíveis todos os meses</li>
                <li>Desconto em produtos e serviços</li>
            </ul>
        </div>
        <hr>
        <button class="subscribe-button">Este é meu plano ideal</button>
    </section>

    <section class="gold plan-card">
        <h3>Seja um assinante</h3>
        <h2>Ouro</h2>
        <hr>
        <div class="plan-details">
            <h3>Com o plano OURO você aproveita:</h3>
            <ul class="plan-features">
                <li>Acesso a ofertas exclusivas</li>
                <li>Mais de 20 cupons disponíveis todos os meses</li>
                <li>Desconto em produtos e serviços</li>
                <li>Acesso a ofertas exclusivas</li>
                <li>Mais de 20 cupons disponíveis todos os meses</li>
                <li>Desconto em produtos e serviços</li>
                <li>Acesso a ofertas exclusivas</li>
                <li>Mais de 20 cupons disponíveis todos os meses</li>
                <li>Desconto em produtos e serviços</li>
                <li>Mais de 20 cupons disponíveis todos os meses</li>
                <li>Desconto em produtos e serviços</li>
            </ul>
        </div>
        <hr>
        <button class="subscribe-button">Este é meu plano ideal</button>
    </section>
</main>
{% endblock main %}