{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}Planos de Assinatura{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/plans.css' %}">
<script src="https://js.stripe.com/v3/"></script>
{% endblock head %}

{% block main %}
<main class="container">
    <h1>Planos &raquo; Planos Disponíveis</h1>

    <div class="plan-cards-container flex-row flex-center">
        {% for plan in plans %}
        {% cycle 'bronze' 'silver' 'gold' as plan_style silent %}
        <section class="plan-card {{ plan_style }} {% if plan_style == 'silver' %}recommended{% endif %}">
            <div class="plan-card-content">

                {% if plan_style == 'silver' %}
                <div class="badge">Recomendado</div>
                {% endif %}

                <div class="plan-titles">
                    <h3>Torne-se um assinante</h3>
                    <div class="text-circle flex-row">
                        <div class="{{ plan_style }}-circle">
                            <div class="inner-circle"></div>
                        </div>
                        <h2>{{ plan.title|upper }}</h2>
                    </div>
                </div>
                <hr>
                <div class="plan-details">
                    <h3>Com o plano {{ plan.title|upper }} você aproveita:</h3>
                    <ul class="plan-features">
                        {% for feature in all_features %}
                            {% if feature in plan.features.all %}
                            <li class="available">
                                <div class="feature-content">
                                    <span class="feature-name">
                                        {{ feature.name }}
                                    </span>
                                    <span class="feature-description">
                                        {{ feature.description }}
                                    </span>
                                </div>
                            </li>
                            {% endif %}
                        {% endfor %}

                        {% for feature in all_features %}
                            {% if feature not in plan.features.all %}
                            <li class="unavailable">{{ feature.name }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <hr>
                <div class="plan-price-wrapper">
                    <p>Valor mensal do plano:</p>
                    <p class="plan-price">R$ {{ plan.price|floatformat:2 }}</p>
                </div>
                <form action="{% url 'create_checkout_session' plan.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="subscribe-button">ASSINAR</button>
                </form>
            </div>
        </section>
        {% endfor %}
    </div>
</main>
{% endblock main %}
